################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/classes/gameDev/unity/NumberWizard/NumberWizard/Library/ShaderCache
